# Copy this file to keystore.properties and fill the values
# Place the resulting keystore.properties next to this template (keystore.properties)

# Example:
# storeFile=mario.jks
# storePassword=mario123
# keyAlias=mario
# keyPassword=mario123

storeFile=mario.jks
storePassword=mario123
keyAlias=mario
keyPassword=mario123
